<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Checklist Pidila</title>

    <!-- Favicons Generated with favicon.il.ly -->
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico"/>
    <!--[if IE]>
    <link rel="shortcut icon" href="favicon.ico"/>
    <![endif]-->
    <!-- Optional: Android & iPhone-->
    <link rel="apple-touch-icon-precomposed" href="favicon/favicon-152.png"/>
    <!-- Optional: IE10 Tile.-->
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="favicon/favicon-144.png"/>
    <!-- Optional: ipads, androids, iphones, ...-->
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/favicon-152.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/favicon-144.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/favicon-120.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/favicon-114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/favicon-72.png"/>
    <link rel="apple-touch-icon" href="favicon/favicon-57.png"/>

    <meta name="description" content="Application web de visualisation des critères de la checklist Pidila ">
    <meta name="author" content="Pidila">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pidila.gitlab.io/assets/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" />
    <!--[if lt IE 9 ]>
    <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script id="cell_tmpl" type="text/x-dot-template">
        <article class="crit-item row {{=it.li_classes}}">
            <h2 class="js-expandmore crit-item-title h3">{{=it.desc}}</h2>
                <div class="crit-item-content js-to_expand">
                    <div class="crit-item-test">
                        <h3 class="sr-only">Tests</h3>
                        <div class="crit-item-test-content">
                            <p>{{=it.test}}</p>
                        </div>
                    </div>

                    <div class="crit-item-related">
                        <h3>Références</h3>
                        <ul class="crit-item-related-content">
                        {{? it.corr_rgaa }}
                            <li>{{=it.label_rgaa}} : {{=it.corr_rgaa}}</li>
                        {{?}}
                        {{? it.corr_charte }}
                            <li>{{=it.label_charte}} : {{=it.corr_charte}}</li>
                        {{?}}
                        {{? it.corr_greenit }}
                            <li>{{=it.label_greenit}} : {{=it.corr_greenit}}</li>
                        {{?}}
                        {{? it.corr_opquast }}
                            <li>{{=it.label_opquast}} : {{=it.corr_opquast}}</li>
                        {{?}}
                        </ul>
                    </div>
                    <h3>Classement</h3>
                    <ul class="crit-item-meta">
                        {{? it.profils }}
                        <li>Profil : <span class="crit-item-profils">{{=it.profils}}</span></li>
                        {{?}}
                        <li>Référentiel :
                            {{? it.corr_rgaa }}{{=it.label_rgaa}},{{?}}
                            {{? it.corr_charte }}{{=it.label_charte}},{{?}}
                            {{? it.corr_greenit }}{{=it.label_greenit}},{{?}}
                            {{? it.corr_opquast }}{{=it.label_opquast}}{{?}}
                        </li>
                        <li>Niveau : <span class="crit-item-level">{{=it.level}}</span></li>
                        <li>Thématique : <span class="crit-item-category">{{=it.category}}</span></li>
                    </ul>
                </div>
        </article>
    </script>

</head>

<body>

<header id="top" role="banner">
    <div class="skip-link">
      <div class="container">
        <ul>
          <li><a href="#main">Aller à la liste</a></li>
          <li><a href="#navigation">Aller aux filtres</a></li>
        </ul>
      </div>
    </div>

    <div class="banner">
        <div class="container">
            <nav class="navbar-top">
                <a class="navbar-top-item" href="http://pidila.gitlab.io">Ressources du Pidila</a>
                <a class="navbar-top-item is-cat" href="http://pidila.gitlab.io/checklist-pidila/">Checklist Pidila</a>
                 <span class="navbar-top-item-light"> / Liste des critères</span>
            </nav>
        </div>
    </div>
</header>

<main id="main" class="main" role="main">
    <div class="container main-container">

        <div class="col-group">

            <div class="criteria-boxes col-main">
                <h1>Liste des critères</h1>
                <div class="alert alert-info">
                    <p>La direction interministérielle du numérique et du système d’information et de communication de l’État (Dinsic) a publié <a href="http://references.modernisation.gouv.fr/homologation-cerfa" target="_blank" title="29 critères vérifiés par la DINSIC - Nouvelle fenêtre">la liste des critères d’homologation Cerfa des démarches en ligne</a>. Ces critères seront prochainement intégrés à cette checklist.</p>
                </div>

                <div class="alert alert-warning">
                    <p>La Charte internet de l’État est actuellement en cours d’actualisation. Les critères mentionnés ici relevant de ce référentiel seront mis à jour après sa parution.</p>
                </div>
                <p class="info-file"><span id="row-count">xxx</span> critères. <span id="filter-actives">Aucun filtre n'a été appliqué pour le moment.</span></p>

                <div id="contents" class=""></div>
            </div>

            <div class="filter-boxes col-aside">
                <aside>
                    <div class="secondary-nav-box">
                        <h2 class="nav-box-title">Checklist Pidila</h2>
                        <p><a href="http://pidila.gitlab.io/checklist-pidila/">&larr; Présentation</a></p>
                    </div>
                    <div class="secondary-nav-box">
                        <h2 class="sr-only">Filtrer les critères</h2>
                        <form id="filters" class="filters nav-box-content"></form>
                        <div class="nav-box-more">
                            <h3>Lien permanent</h3>
                            <p id="link_box"><button>Générer un lien permanent pour ces filtres</button></p>
                            <p><a id="permanent_link" class="link"></a></p>
                        </div>
                    </div>
                </aside>
            </div>

        </div>

    </div>
</main>

<footer class="footer" role="contentinfo">
    <div class="info-version container">
        <p>Version de l'application : 0.1.3</p>
        <p>Version de la checklist : CL-DILA_2017-03-01</p>
    </div>
    <ul class="footer-links">
        <li><a href="http://pidila.gitlab.io/info-site/mentions-legales.html">Mentions légales</a></li>
    </ul>
</footer>
    <script src="./scripts/vendors/jquery.min.js"></script>
    <script data-main="main" src="./scripts/vendors/require.js"></script>
</body>
</html>
