/*liste des catégories */
.criteria-boxes .info-file {
    padding-left: 1em;
    padding-right: 1em;
    background: repeating-linear-gradient(
        -45deg,
        #eee,
        #eee 10px,
        #fff 10px,
        #fff 20px
  );
}
.crit-item {
    border-bottom: 2px dotted #C0C0C0;
    padding-top: .5em;
    padding-bottom: .5em;
}

.crit-item-title {
    clear: left;
    font-size: 1em;
    color: #333;
}

.crit-item-title .expand-sign {
    vertical-align: block;
    float: left;
    font-weight: bold;
    vertical-align: text-bottom;
    margin-right: .5em;
    font-size: 1.25em;
    line-height: 1;
}

.crit-item-title .is-opened {
    font-weight: bold;
    color: #181a2a;
}

.crit-item-title button {
    text-align: left;
}

.crit-item-content {
    clear: left;
    padding: .5em 1.5em;
    background: #eff8fc;
}

.crit-item h3 {
    font-size: 1em;
}

.filter {
    margin: 0;
    margin-left: 1em;
}

.filter-all {
    margin-top: .5em;
}

.filters legend {
    margin-top: 1.5em;
    margin-bottom: 0;
}

.filter_input:checked + label {
    font-weight: bold;
}

.filter-all .filter_input:checked + label {
    font-weight: normal;
}
