@charset "UTF-8";

/*! v0.1.1 */


/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active {
    outline: 0;
}

a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-webkit-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

html {
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 1em;
    line-height: 1.5;
    color: #363740;
    background-color: #fff;
}

[tabindex="-1"]:focus {
    outline: none !important;
}

[role="button"] {
    cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

[hidden] {
    display: none !important;
}

figure {
    margin: 0;
}

body {
    font-family: arial, sans-serif;
}

address {
    margin-bottom: 1em;
    font-style: normal;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: arial, sans-serif;
    font-weight: normal;
    line-height: 1.25;
    color: #363740;
}

h1,
.h1 {
    font-size: 2.25em;
}

h2,
.h2 {
    font-size: 1.75em;
}

h3,
.h3 {
    font-size: 1.25em;
}

h4,
.h4 {
    font-size: 1em;
}

h5,
.h5 {
    font-size: 0.875em;
}

h6,
.h6 {
    font-size: 1em;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1em;
}

ol,
ul {
    padding-left: 1em;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 0.5em;
    margin-left: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
    border-top: 1px solid #d1d1d8;
}

a {
    color: #666;
    text-decoration: underline;
}

a:focus,
a:hover {
    color: #404040;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

abbr[title] {
    text-decoration: none;
}

mark,
.mark {
    padding: .2em;
    background-color: yellow;
}

small,
.small {
    font-size: 80%;
    font-weight: normal;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

:lang(fr) > q {
    quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019";
}

:lang(en) > q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

:lang(es) > q {
    quotes: "\00AB" "\00BB" "\201C" "\201D";
}

:lang(it) > q {
    quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D";
}

:lang(de) > q {
    quotes: "\201e" "\201c" "\201a" "\2018";
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 90%;
    line-height: 1.5;
    color: #595b6a;
    background-color: #eef;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    border-radius: 0;
}

code {
    padding: .2em .4em;
    font-size: 90%;
    color: #bd4147;
    background-color: #eef;
    border-radius: 4px;
}

kbd {
    padding: .2em .4em;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.main-container {
    padding-top: 2em;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
}

.list-inline > li:not(:last-child) {
    margin-right: 0.25em;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.25em;
}

.lead {
    font-size: 1.125em;
    font-weight: normal;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-muted {
    color: #c3c4cc;
}

.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: arial, sans-serif;
}

p {
    margin: 1em 0 .5em 0;
}

abbr,
acronym {
    border-bottom: 1px dotted;
    cursor: help;
}

blockquote,
q {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

blockquote em,
q em {
    font-style: normal;
}

cite {
    font-size: .875em;
}

ul,
ol,
dd {
    margin: 1em 0 .5em 1em;
    padding-left: 1em;
}

@media screen and (min-width: 30em) {
    ul,
    ol,
    dd {
        margin: 1em 0 .5em 2em;
    }
}

ul ul,
ol ol {
    margin-top: 0;
}

ul ul {
    list-style-type: square;
}

code,
pre,
kbd {
    font-family: "Andale mono", "Courier New", Courier, mono;
    color: #363740;
}

kbd {
    padding: 0 2px;
}

pre {
    overflow: auto;
    padding: 1em;
    line-height: 1.25;
}

hr {
    width: 50%;
    height: 1px;
    height: 1px;
    border: 0;
    border-top: 1px dashed #8c8d9d;
}

input,
button,
select {
    vertical-align: middle;
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
    line-height: 1.2;
}

h1,
.h1 {
    color: #c80000;
    font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (min-width: 30em) {
    h1,
    .h1 {
        font-size: 3em;
        margin-bottom: 1em;
    }
}

article h1 {
    text-align: center;
}

h2 {
    margin: 1.5em 0 1em 0;
}

article h2 {
    color: #c80000;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h3,
h4,
h5 {
    text-align: left;
}

h3 {
    margin: 1.5em 0 .5em 0;
    color: #c80000;
    font-size: 1.33em;
}

h4 {
    margin: 1em 0 .5em 0;
    padding-left: 16px;
    color: #34495e;
    background: transparent url(../css-img/sq.png) no-repeat left center;
}

h5 {
    font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.download-info {
    color: #666;
    font-size: .875em;
}

.alert {
    border-radius: 4px;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border: 1px solid transparent;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: .5em;
}

.alert a {
    font-weight: bold;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.alert-success hr {
    border-top-color: #c1e2b3;
}

.alert-success a {
    color: #2b542c;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.alert-info hr {
    border-top-color: #a6d5ec;
}

.alert-info a {
    color: #245269;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.alert-warning hr {
    border-top-color: #f7ecb5;
}

.alert-warning a {
    color: #66512c;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.alert-danger hr {
    border-top-color: #e4b9b9;
}

.alert-danger a {
    color: #843534;
}

.skip-link {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

.skip-link .container {
    position: relative;
}

.skip-link .container.skip-link-focus {
    height: 2em;
}

.skip-link ul {
    margin: 0;
    padding: 0;
}

.skip-link li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skip-link a {
    padding: 0;
    color: white;
    text-decoration: none;
}

.skip-link a {
    position: absolute;
    left: -7000px;
    z-index: 1000;
    padding: 0;
}

.skip-link a:focus {
    position: absolute;
    top: 0.2em;
    left: 0;
}

.no-js .skip-link .container {
    min-height: 2em;
    padding-top: 0.2em;
}

.no-js .skip-link li {
    display: inline-block;
    padding-right: 1em;
}

.no-js .skip-link a {
    position: static;
}

.no-js .skip-link a:focus,
.no-js .skip-link a:hover {
    text-decoration: underline;
}

.breadcrumb {
    font-size: .875em;
    line-height: 1.25;
    margin: .5em 0;
}

.breadcrumb a {
    color: #363740;
    padding-right: .5em;
}

.breadcrumb span {
    display: inline-block;
    padding-right: .5em;
}

.breadcrumb span::after {
    content: "›";
    font-size: 1.25em;
}

.breadcrumb strong {
    color: #34495e;
    font-weight: bold;
}

.breadcrumb {
    border-top: 1px solid #d1d1d8;
    padding-top: .5em;
}

.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.25em 1em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 4px;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus,
.btn:hover {
    text-decoration: none;
}

.btn.focus {
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
}

.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #22303d;
    border-color: #1e2a37;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #22303d;
    border-color: #1e2a37;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #22303d;
    border-color: #1e2a37;
    background-image: none;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #151e26;
    border-color: #07090c;
}

.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus {
    background-color: #34495e;
    border-color: #34495e;
}

.btn-primary.disabled:hover,
.btn-primary:disabled:hover {
    background-color: #34495e;
    border-color: #34495e;
}

.btn-secondary {
    color: #595b6a;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #595b6a;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: #595b6a;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-secondary:active,
.btn-secondary.active,
.open > .btn-secondary.dropdown-toggle {
    color: #595b6a;
    background-color: #e6e6e6;
    border-color: #adadad;
    background-image: none;
}

.btn-secondary:active:hover,
.btn-secondary:active:focus,
.btn-secondary:active.focus,
.btn-secondary.active:hover,
.btn-secondary.active:focus,
.btn-secondary.active.focus,
.open > .btn-secondary.dropdown-toggle:hover,
.open > .btn-secondary.dropdown-toggle:focus,
.open > .btn-secondary.dropdown-toggle.focus {
    color: #595b6a;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-secondary.disabled:focus,
.btn-secondary.disabled.focus,
.btn-secondary:disabled:focus,
.btn-secondary:disabled.focus {
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary.disabled:hover,
.btn-secondary:disabled:hover {
    background-color: #fff;
    border-color: #ccc;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-info:active,
.btn-info.active,
.open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
    background-image: none;
}

.btn-info:active:hover,
.btn-info:active:focus,
.btn-info:active.focus,
.btn-info.active:hover,
.btn-info.active:focus,
.btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1f7e9a;
}

.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info:disabled:focus,
.btn-info:disabled.focus {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info.disabled:hover,
.btn-info:disabled:hover {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.btn-success:active,
.btn-success.active,
.open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
    background-image: none;
}

.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
    color: #fff;
    background-color: #398439;
    border-color: #2d672d;
}

.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success:disabled:focus,
.btn-success:disabled.focus {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success.disabled:hover,
.btn-success:disabled:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-warning:active,
.btn-warning.active,
.open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
    background-image: none;
}

.btn-warning:active:hover,
.btn-warning:active:focus,
.btn-warning:active.focus,
.btn-warning.active:hover,
.btn-warning.active:focus,
.btn-warning.active.focus,
.open > .btn-warning.dropdown-toggle:hover,
.open > .btn-warning.dropdown-toggle:focus,
.open > .btn-warning.dropdown-toggle.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #b06d0f;
}

.btn-warning.disabled:focus,
.btn-warning.disabled.focus,
.btn-warning:disabled:focus,
.btn-warning:disabled.focus {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning.disabled:hover,
.btn-warning:disabled:hover {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn-danger:active,
.btn-danger.active,
.open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
    background-image: none;
}

.btn-danger:active:hover,
.btn-danger:active:focus,
.btn-danger:active.focus,
.btn-danger.active:hover,
.btn-danger.active:focus,
.btn-danger.active.focus,
.open > .btn-danger.dropdown-toggle:hover,
.open > .btn-danger.dropdown-toggle:focus,
.open > .btn-danger.dropdown-toggle.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #8b211e;
}

.btn-danger.disabled:focus,
.btn-danger.disabled.focus,
.btn-danger:disabled:focus,
.btn-danger:disabled.focus {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger.disabled:hover,
.btn-danger:disabled:hover {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-primary-outline {
    color: #34495e;
    background-image: none;
    background-color: transparent;
    border-color: #34495e;
}

.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .btn-primary-outline.dropdown-toggle {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
}

.btn-primary-outline:hover {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
}

.btn-primary-outline.disabled:focus,
.btn-primary-outline.disabled.focus,
.btn-primary-outline:disabled:focus,
.btn-primary-outline:disabled.focus {
    border-color: #587ca0;
}

.btn-primary-outline.disabled:hover,
.btn-primary-outline:disabled:hover {
    border-color: #587ca0;
}

.btn-secondary-outline {
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}

.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active,
.open > .btn-secondary-outline.dropdown-toggle {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-secondary-outline:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-secondary-outline.disabled:focus,
.btn-secondary-outline.disabled.focus,
.btn-secondary-outline:disabled:focus,
.btn-secondary-outline:disabled.focus {
    border-color: white;
}

.btn-secondary-outline.disabled:hover,
.btn-secondary-outline:disabled:hover {
    border-color: white;
}

.btn-info-outline {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}

.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active,
.open > .btn-info-outline.dropdown-toggle {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info-outline:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info-outline.disabled:focus,
.btn-info-outline.disabled.focus,
.btn-info-outline:disabled:focus,
.btn-info-outline:disabled.focus {
    border-color: #b0e1ef;
}

.btn-info-outline.disabled:hover,
.btn-info-outline:disabled:hover {
    border-color: #b0e1ef;
}

.btn-success-outline {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}

.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active,
.open > .btn-success-outline.dropdown-toggle {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success-outline:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success-outline.disabled:focus,
.btn-success-outline.disabled.focus,
.btn-success-outline:disabled:focus,
.btn-success-outline:disabled.focus {
    border-color: #a3d7a3;
}

.btn-success-outline.disabled:hover,
.btn-success-outline:disabled:hover {
    border-color: #a3d7a3;
}

.btn-warning-outline {
    color: #f0ad4e;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e;
}

.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active,
.open > .btn-warning-outline.dropdown-toggle {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning-outline:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning-outline.disabled:focus,
.btn-warning-outline.disabled.focus,
.btn-warning-outline:disabled:focus,
.btn-warning-outline:disabled.focus {
    border-color: #f8d9ac;
}

.btn-warning-outline.disabled:hover,
.btn-warning-outline:disabled:hover {
    border-color: #f8d9ac;
}

.btn-danger-outline {
    color: #d9534f;
    background-image: none;
    background-color: transparent;
    border-color: #d9534f;
}

.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active,
.open > .btn-danger-outline.dropdown-toggle {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger-outline:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger-outline.disabled:focus,
.btn-danger-outline.disabled.focus,
.btn-danger-outline:disabled:focus,
.btn-danger-outline:disabled.focus {
    border-color: #eba5a3;
}

.btn-danger-outline.disabled:hover,
.btn-danger-outline:disabled:hover {
    border-color: #eba5a3;
}

.btn-link {
    font-weight: normal;
    color: #666;
    border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link:disabled {
    background-color: transparent;
}

.btn-link,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}

.btn-link:hover {
    border-color: transparent;
}

.btn-link:focus,
.btn-link:hover {
    color: #404040;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link:disabled:focus,
.btn-link:disabled:hover {
    color: #d1d1d8;
    text-decoration: none;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 0.75em 1.25em;
    font-size: 1.25rem;
    line-height: 1.33333;
    border-radius: 5px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.25em 0.75em;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
    position: relative;
    float: left;
}

.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
    z-index: 2;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
    z-index: 2;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: -1px;
}

.btn-toolbar {
    margin-left: -5px;
}

.btn-toolbar::after {
    content: "";
    display: table;
    clear: both;
}

.btn-toolbar .btn-group,
.btn-toolbar .input-group {
    float: left;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
    margin-left: 5px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-group > .btn:first-child {
    margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group > .btn-group {
    float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle,
.btn-group-lg.btn-group > .btn + .dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px;
}

.btn .caret {
    margin-left: 0;
}

.btn-lg .caret,
.btn-group-lg > .btn .caret {
    border-width: 2px 2px 0;
    border-bottom-width: 0;
}

.dropup .btn-lg .caret,
.dropup .btn-group-lg > .btn .caret {
    border-width: 0 2px 2px;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
}

.btn-group-vertical > .btn-group::after {
    content: "";
    display: table;
    clear: both;
}

.btn-group-vertical > .btn-group > .btn {
    float: none;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
    margin-top: -1px;
    margin-left: 0;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn {
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:focus {
    box-shadow: none;
}

.card-group {
    margin: 0 auto 2em;
}

@media screen and (min-width: 30em) {
    .card-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.card {
    width: 100%;
    max-width: 24em;
    margin-bottom: 3em;
}

@media screen and (min-width: 48em) {
    .card {
        width: 47%;
    }
}

@media screen and (min-width: 60em) {
    .card {
        width: 31%;
        min-width: 18em;
    }
}

.card-title {
    text-align: center;
    margin-top: 0;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
}

.card-title a {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 1em 1em .75em;
    color: #fff;
    text-decoration: none;
}

.card-title a:hover,
.card-title a:focus {
    color: #fff;
    background-color: #000;
}

.card-content {
    padding: 0 1em 1em;
}

.card-content ul {
    margin-left: 0;
}

.home-card {
    background-color: #ecedef;
}

.tool-card {
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.tool-card .card-title a {
    background-color: #34495e;
}

.doc-card .card-title {
    color: #fff;
    background-color: #595b6a;
}

.feature-card {
    width: 48%;
    padding-top: 1em;
}

.feature-card .card-title {
    color: #34495e;
    background-color: transparent;
}

.feature-card svg {
    width: 5em;
    height: 5em;
    vertical-align: middle;
    margin-right: 1em;
}

pre {
    background-color: #eef;
}

.focus {
    margin-top: 3em;
    border-radius: .25em;
    border: 1px solid #34495e;
    padding: 1em;
}

.focus h2 {
    margin: 0;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    color: #42434e;
    margin-top: 1em;
    margin-bottom: 2em;
}

a {
    color: #666;
}

a:hover,
a:active,
a:focus {
    background: #dfdfe4;
    color: #c80000;
}

a img {
    text-decoration: none;
    background: #ecedef;
}

.navbar-top-item {
    display: inline-block;
    padding: .25em .5em;
    color: white;
    background-color: #34495e;
    border-radius: .25em;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
}

.navbar-top-item.is-cat,
.navbar-top-item:hover,
.navbar-top-item:focus {
    background-color: #c80000;
    color: #fff;
}

.navbar-top-item.is-cat:hover,
.navbar-top-item.is-cat:focus {
    background-color: #000;
}

.nav-main {
    font-size: .925em;
    margin-top: 0;
    padding: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

@media screen and (min-width: 30em) {
    .nav-main {
        margin-top: 1.5em;
        padding: 0 3%;
    }
}

.nav-main .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 30em) {
    .nav-main .nav-list {
        margin: 0;
        padding: 0;
        display: table;
        width: 100%;
    }
}

.nav-main .nav-item {
    padding: 0;
}

@media screen and (min-width: 30em) {
    .nav-main .nav-item {
        display: table-cell;
        vertical-align: baseline;
    }
}

.nav-main .nav-link {
    padding: .5em 0;
    display: block;
    text-decoration: none;
    color: #000;
}

.nav-main .nav-link.is-active {
    background-color: #34495e;
    color: #fff;
}

.news {
    max-width: 48em;
}

@media screen and (min-width: 30em) {
    .news {
        margin: 5em auto;
    }
}

.news h3 {
    margin-bottom: 0;
}

.news .date {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.news h2,
.more-news {
    margin: 0;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    color: #42434e;
}

.more-news {
    margin-top: 3em;
}

body {
    font-size: 0.875em;
}

@media (min-width: 34em) {
    body {
        font-size: 1em;
    }
}

@media (min-width: 81em) {
    body {
        font-size: 1.0625em;
    }
}

.secondary-nav-box {
    margin-bottom: 2em;
}

.secondary-nav-box ul {
    margin-left: 0;
}

.secondary-nav-box h3 {
    margin-bottom: 0;
    color: #34495e;
    font-size: 1em;
    font-weight: bold;
}

.nav-box-title {
    font-size: 1.5em;
    text-align: center;
    margin: .5em 0 1.5em;
    text-transform: uppercase;
    color: #34495e;
    border-bottom: 1px solid #34495e;
}

.nav-box-more {
    position: relative;
    margin-top: 3em;
}

.nav-box-more h3 {
    font-size: 1.25em;
    font-weight: normal;
    border-bottom: 1px solid #34495e;
    padding: .75em 0 .5em 2.5em;
}

.nav-box-more .icon-git {
    display: inline-block;
    position: absolute;
    top: .5em;
    left: .5em;
    fill: currentColor;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    margin-right: .5em;
}

.lead-logo {
    text-align: center;
    margin: 0 auto;
}

.lead-logo svg {
    width: 8em;
    height: 8em;
}

.tool-logo {
    width: 8em;
    height: 8em;
    float: left;
    margin: 0 1.5em 0 0;
}

.tool-logo svg {
    width: 100%;
    height: 100%;
}

.feature svg {
    max-width: 7em;
    margin: auto;
}

.tool-card svg {
    display: block;
    margin: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    background-color: transparent;
    background-color: #fff;
}

.table caption {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: left;
}

.table th {
    text-align: left;
}

.table th,
.table td {
    padding: 0.75em;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #dfdfe4;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dfdfe4;
}

.table tbody + tbody {
    border-top: 2px solid #dfdfe4;
}

.table-sm th,
.table-sm td {
    padding: 0.25em;
}

.table-bordered {
    border: 1px solid #dfdfe4;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dfdfe4;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #dfdfe4;
}

.table-hover tbody tr:hover {
    background-color: #ecedef;
}

.table-responsive {
    display: block;
    width: 100%;
    min-height: 0.01%;
    overflow-x: auto;
}

.table {
    border: 1px solid #dfdfe4;
    border: none;
}

.table th,
.table td {
    border: 1px solid #dfdfe4;
}

.table thead th,
.table thead td {
    border-bottom-width: 2px;
}

.table th {
    background-color: #ecedef;
}

.charte-list p {
    margin: 0;
}

.charte-list dt {
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
}

.charte-list dd {
    margin-top: 0;
    margin-bottom: 1em;
}

.scampi-home h1 {
    margin-bottom: 0;
}

.scampi-lead {
    text-align: center;
    margin-bottom: 5em;
}

.get-scampi-buttons a {
    text-decoration: none;
    margin-right: .5em;
    margin-left: .5em;
}

.info-file {
    margin-top: 0;
    margin-bottom: 2em;
    padding: .5em 0;
    border-top: 1px solid #c3c4cc;
    border-bottom: 1px solid #c3c4cc;
}

.contributing h1 {
    display: none;
}

.contributing h1 + h2 {
    margin-top: 0;
}

.doc table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    background-color: transparent;
    background-color: #fff;
    border: 1px solid #dfdfe4;
}

.doc table caption {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: left;
}

.doc table th {
    text-align: left;
}

.doc table th,
.doc table td {
    padding: 0.75em;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #dfdfe4;
}

.doc table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dfdfe4;
}

.doc table tbody + tbody {
    border-top: 2px solid #dfdfe4;
}

.doc table th,
.doc table td {
    border: 1px solid #dfdfe4;
}

.doc table thead th,
.doc table thead td {
    border-bottom-width: 2px;
}


/* footer */

.footer {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 2px solid #34495e;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #34495e;
}

.footer-sections,
.footer-links,
.footer-contact {
    font-size: .875em;
}

.footer-sections {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: .75em;
}

.footer-sections .h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #c80000;
}

.footer-sections ul {
    margin-left: 0;
}

.footer-contact {
    padding-top: .75em;
    padding-bottom: .75em;
}

.footer-links {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 1px solid #d1d1d8;
    border-bottom: 1px solid #d1d1d8;
    padding-top: .75em;
    padding-bottom: .75em;
    margin-left: 0;
}

.footer-links li {
    padding: 0 2em;
}

header {
    padding-top: .5em;
}

.banner {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #d1d1d8;
}

@media screen and (min-width: 30em) {
    .banner {
        margin-bottom: 1.5em;
    }
}

.surtitre {
    margin: 0;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    color: #42434e;
}

.surtitre a {
    text-decoration: none;
}

.banner-home {
    text-align: center;
}

.banner-home h1 {
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 4em;
}

.baseline {
    margin: 0 0 1em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.125em;
    font-style: italic;
}

@media screen and (min-width: 130em) {
    .home-container {
        display: -ms-flexbox;
        display: flex;
    }
    .home-container .card {
        width: 48%;
    }
    .home-container .news {
        margin-top: 3em;
        margin-left: 3em;
        padding-top: 0;
        padding-left: 2em;
        background: transparent;
        border-left: 1px solid #c3c4cc;
        max-width: 30%;
    }
    .home-container .news h2 {
        text-transform: none;
        font-size: 1.5em;
    }
    .home-container .news .more-actu {
        padding-bottom: 0;
        background: transparent;
    }
}

.container {
    max-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

@media (min-width: 81em) {
    .container {
        max-width: 78em;
    }
}

@media screen and (min-width: 30em) {
    .article {
        max-width: 48em;
        margin: 0 auto;
    }
}

@media screen and (min-width: 70em) {
    .col-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 auto;
    }
}

.col-group .col-main {
    max-width: 48em;
    margin-bottom: 3em;
}

.col-group .col-aside {
    font-size: .875em;
    background-color: #ecedef;
    padding: 1em;
    min-width: 20em;
}

@media screen and (max-width: 69.9em) {
    .col-group aside {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.col-group-plan .nav-box-more {
    display: none;
}

.js-to_expand[aria-hidden=true],
.js-to_expand[data-hidden=true] {
    display: none;
}

.expandmore__button {
    background: none;
    font-size: inherit;
    color: inherit;
    border: none;
}


/*
.expandmore__button[aria-expanded=false]:before,
.expandmore__button[data-expanded=false]:before {
  content: '+ ';
  speak: none;
}

.expandmore__button[aria-expanded=true]:before,
.expandmore__button[data-expanded=true]:before {
  content: '- ';
  speak: none;
}
*/

figure {
    display: inline-block;
}

figure img {
    margin-bottom: 0.5em;
    line-height: 1.25;
}

figure figcaption {
    font-size: .875em;
    color: #42434e;
}

figure img {
    max-width: 100%;
}

figure span {
    display: block;
}

figure .longdesc {
    font-size: .875em;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.5em;
    padding: 0.5em 0.75em;
    font-size: 1em;
    line-height: 1.5;
    color: #42434e;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #42434e;
    background-color: #fff;
    border-color: #45769e;
    outline: none;
}

.form-control::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}

.form-control::placeholder {
    color: #999;
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #dfdfe4;
    opacity: 1;
}

.form-control:disabled {
    cursor: not-allowed;
}

select.form-control:not([size]):not([multiple]) {
    height: 2.5em;
}

select.form-control:focus::-ms-value {
    color: #42434e;
    background-color: #fff;
}

.form-control-file,
.form-control-range {
    display: block;
}

.col-form-label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

.col-form-label-lg {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.25rem;
}

.col-form-label-sm {
    padding-top: 0.275rem;
    padding-bottom: 0.275rem;
    font-size: 0.875rem;
}

.col-form-legend {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    font-size: 1em;
}

.form-control-static {
    min-height: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

.form-control-static.form-control-sm,
.form-control-static.form-control-lg {
    padding-right: 0;
    padding-left: 0;
}

.form-control-sm {
    padding: 0.275rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 3px;
}

select.form-control-sm:not([size]):not([multiple]) {
    height: 1.8625rem;
}

.form-control-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 5px;
}

select.form-control-lg:not([size]):not([multiple]) {
    height: 3.16667rem;
}

.form-group {
    margin-bottom: 1em;
}

.form-text {
    display: block;
    margin-top: 0.25em;
}

.form-check {
    position: relative;
    display: block;
    margin-bottom: 0.75em;
}

.form-check + .form-check {
    margin-top: -.25rem;
}

.form-check.disabled .form-check-label {
    color: #c3c4cc;
    cursor: not-allowed;
}

.form-check-label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    cursor: pointer;
}

.form-check-input {
    position: absolute;
    margin-top: .25rem;
    margin-left: -1.25rem;
}

.form-check-input:only-child {
    position: static;
}

.form-check-inline {
    position: relative;
    display: inline-block;
    padding-left: 1.25rem;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}

.form-check-inline + .form-check-inline {
    margin-left: .75rem;
}

.form-check-inline.disabled {
    cursor: not-allowed;
}

.form-control-feedback {
    margin-top: 0.25em;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
    padding-right: 2.25em;
    background-repeat: no-repeat;
    background-position: center right 0.625em;
    background-size: 1.25em 1.25em;
}

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .form-check-label,
.has-success .form-check-inline,
.has-success .custom-control {
    color: #5cb85c;
}

.has-success .form-control {
    border-color: #5cb85c;
}

.has-success .input-group-addon {
    color: #5cb85c;
    border-color: #5cb85c;
    background-color: #eaf6ea;
}

.has-success .form-control-feedback {
    color: #5cb85c;
}

.has-success .form-control-success {
    background-image: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==";
}

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .form-check-label,
.has-warning .form-check-inline,
.has-warning .custom-control {
    color: #f0ad4e;
}

.has-warning .form-control {
    border-color: #f0ad4e;
}

.has-warning .input-group-addon {
    color: #f0ad4e;
    border-color: #f0ad4e;
    background-color: white;
}

.has-warning .form-control-feedback {
    color: #f0ad4e;
}

.has-warning .form-control-warning {
    background-image: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+";
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .form-check-label,
.has-danger .form-check-inline,
.has-danger .custom-control {
    color: #d9534f;
}

.has-danger .form-control {
    border-color: #d9534f;
}

.has-danger .input-group-addon {
    color: #d9534f;
    border-color: #d9534f;
    background-color: #fdf7f7;
}

.has-danger .form-control-feedback {
    color: #d9534f;
}

.has-danger .form-control-danger {
    background-image: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=";
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-inline .form-control-static {
    display: inline-block;
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}

.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
    width: auto;
}

.form-inline .input-group > .form-control {
    width: 100%;
}

.form-inline .form-control-label {
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-check {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-check-label {
    padding-left: 0;
}

.form-inline .form-check-input {
    position: relative;
    margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
    top: 0;
}

.fieldset-discrete {
    border: 0;
    padding: 0;
}

.sg-toggle-comments,
.sg-comment {
    background-color: #FFFFbf;
    box-shadow: 3px 3px 5px rgba(180, 180, 180, 0.5);
    font-family: monospace;
    border: none;
}

.sg-toggle-comments {
    position: absolute;
    top: 0;
    right: 1em;
    padding: .5em 1em;
    margin-bottom: 1em;
    border-radius: 0;
}

@media (min-width: 48em) {
    .sg-toggle-comments:before {
        content: "Masquer les ";
    }
    .sg-toggle-comments.is-closed:before {
        content: "Afficher les ";
    }
}

.sg-comment {
    display: none;
    padding: .5em 1em;
    margin-bottom: 1em;
}

.sg-comment p {
    margin-bottom: .5em;
}

.sg-comment.is-visible {
    display: block;
}

.sg-color-boxes {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    text-indent: 0;
}

.sg-color-box::before {
    display: none;
}

.sg-color-box ul {
    padding-left: 0;
    list-style-type: none;
    text-indent: 0;
}

.sg-color-box li::before {
    display: none;
}

.sg-color-box-title {
    margin-bottom: 0;
}

.sg-color-swatch-hex {
    font-size: .75em;
}

.sg-color-swatch {
    position: relative;
    margin-bottom: 1em;
    padding: .5em;
}

.sg-color-swatch-lighten,
.sg-color-swatch-darken {
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2.5em;
    line-height: 2.5;
    text-align: center;
    font-size: .75em;
    margin-bottom: 0;
}

.sg-color-swatch-lighten {
    left: 0;
    color: #000;
}

.sg-color-swatch-darken {
    right: 0;
    color: #fff;
}

.sg-with_variant-palette .sg-color-box {
    margin: 0 1em 1.5em 0;
}

.sg-with_variant-palette .sg-color-swatch {
    width: 10.75em;
    height: 10em;
}

@media (max-width: 47.99em) {
    .sg-with_variant-palette .sg-color-swatch {
        height: 6.5em;
    }
}

.sg-simple-palette .sg-color-box {
    width: 9.5em;
}

.sg-simple-palette .sg-color-swatch {
    width: 9.25em;
    height: 4em;
}

.swatch-body-color .sg-color-swatch {
    background: #363740;
    color: #ffffff;
}

.swatch-body-color .sg-color-swatch-lighten {
    background: #a7a8b5;
}

.swatch-body-color .sg-color-swatch-darken {
    background: #1f1f25;
}

.swatch-headings-color .sg-color-swatch {
    background: #363740;
    color: #ffffff;
}

.swatch-headings-color .sg-color-swatch-lighten {
    background: #a7a8b5;
}

.swatch-headings-color .sg-color-swatch-darken {
    background: #1f1f25;
}

.swatch-primary-color .sg-color-swatch {
    background: #34495e;
    color: #ffffff;
}

.swatch-primary-color .sg-color-swatch-lighten {
    background: #a8bccf;
}

.swatch-primary-color .sg-color-swatch-darken {
    background: #22303d;
}

.swatch-info-color .sg-color-swatch {
    background: #5bc0de;
    color: #000000;
}

.swatch-info-color .sg-color-swatch-lighten {
    background: #c5e9f3;
}

.swatch-info-color .sg-color-swatch-darken {
    background: #1f7e9a;
}

.swatch-success-color .sg-color-swatch {
    background: #5cb85c;
    color: #000000;
}

.swatch-success-color .sg-color-swatch-lighten {
    background: #b5dfb5;
}

.swatch-success-color .sg-color-swatch-darken {
    background: #2d672d;
}

.swatch-warning-color .sg-color-swatch {
    background: #f0ad4e;
    color: #000000;
}

.swatch-warning-color .sg-color-swatch-lighten {
    background: #fae3c4;
}

.swatch-warning-color .sg-color-swatch-darken {
    background: #985f0d;
}

.swatch-danger-color .sg-color-swatch {
    background: #d9534f;
    color: #000000;
}

.swatch-danger-color .sg-color-swatch-lighten {
    background: white;
}

.swatch-danger-color .sg-color-swatch-darken {
    background: #c9302c;
}

.swatch-gray-1 .sg-color-swatch {
    background: #363740;
    color: #ffffff;
}

.swatch-gray-1 .sg-color-swatch-lighten {
    background: #a7a8b5;
}

.swatch-gray-1 .sg-color-swatch-darken {
    background: #1f1f25;
}

.swatch-gray-2 .sg-color-swatch {
    background: #42434e;
    color: #ffffff;
}

.swatch-gray-2 .sg-color-swatch-lighten {
    background: #b5b6c0;
}

.swatch-gray-2 .sg-color-swatch-darken {
    background: #2b2b32;
}

.swatch-gray-3 .sg-color-swatch {
    background: #595b6a;
    color: #ffffff;
}

.swatch-gray-3 .sg-color-swatch-lighten {
    background: #d1d1d8;
}

.swatch-gray-3 .sg-color-swatch-darken {
    background: #42434e;
}

.swatch-gray-4 .sg-color-swatch {
    background: #717285;
    color: #ffffff;
}

.swatch-gray-4 .sg-color-swatch-lighten {
    background: #ecedef;
}

.swatch-gray-4 .sg-color-swatch-darken {
    background: #595b6a;
}

.swatch-gray-5 .sg-color-swatch {
    background: #8c8d9d;
    color: #000000;
}

.swatch-gray-5 .sg-color-swatch-lighten {
    background: white;
}

.swatch-gray-5 .sg-color-swatch-darken {
    background: #717285;
}

.swatch-gray-6 .sg-color-swatch {
    background: #a7a8b5;
    color: #000000;
}

.swatch-gray-6 .sg-color-swatch-lighten {
    background: white;
}

.swatch-gray-6 .sg-color-swatch-darken {
    background: #8c8d9d;
}

.swatch-gray-7 .sg-color-swatch {
    background: #c3c4cc;
    color: #000000;
}

.swatch-gray-7 .sg-color-swatch-lighten {
    background: white;
}

.swatch-gray-7 .sg-color-swatch-darken {
    background: #a7a8b5;
}

.swatch-gray-8 .sg-color-swatch {
    background: #d1d1d8;
    color: #000000;
}

.swatch-gray-8 .sg-color-swatch-lighten {
    background: white;
}

.swatch-gray-8 .sg-color-swatch-darken {
    background: #b5b6c0;
}

.swatch-gray-9 .sg-color-swatch {
    background: #dfdfe4;
    color: #000000;
}

.swatch-gray-9 .sg-color-swatch-lighten {
    background: white;
}

.swatch-gray-9 .sg-color-swatch-darken {
    background: #c3c4cc;
}

.swatch-gray-10 .sg-color-swatch {
    background: #ecedef;
    color: #000000;
}

.swatch-gray-10 .sg-color-swatch-lighten {
    background: white;
}

.swatch-gray-10 .sg-color-swatch-darken {
    background: #d1d1d8;
}

.sg-title {
    color: #000;
    font-weight: normal;
    border-bottom: 1px dashed #8c8d9d;
}

.sg-title-sg {
    text-align: center;
}

h1.sg-title {
    font-size: 1.75em;
    margin-top: 1.5em;
}

h1.sg-title:first-child {
    margin-top: 0;
}

h2.sg-title {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.5em;
}

.sg-title + .js-to_expand:not([data-hidden="true"]) {
    padding-top: 1.5em;
}

.sg-color-boxes p {
    margin: 0;
}

.sg .expandmore__button {
    border: none;
    background-color: transparent;
}

.icon-gallery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.icon-gallery p {
    width: 8em;
    text-align: center;
}

.icon-gallery svg {
    display: block;
    margin: auto;
    max-height: 5em;
    max-width: 5em;
}


/*# sourceMappingURL=maps/style.css.map */
